/* Styling Header */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    /* Tambahkan !important dan fallback font */
}

/* Navbar Transparan */
.navbar {
    background: rgba(0, 0, 0, 0.6);
    /* Transparan hitam */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: background 0.3s;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.logo-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-menu {
    list-style: none;
    float: right;
}

.nav-menu li {
    display: inline;
    margin-left: 20px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s;
}

.nav-menu a:hover {
    background: rgba(255, 255, 255, 0.2);
    /* Efek hover transparan */
    border-radius: 5px;
}

/* Efek saat Scroll */
.scrolled .navbar {
    background: rgba(0, 0, 0, 0.85);
    /* Lebih gelap saat di-scroll */
}

h2 {
    margin-top: 5rem;
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

iframe {
    border: 0;
    border-radius: 10px;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-whatsapp-custom {
    background-color: #25D366;
    color: #fff;
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-whatsapp-custom i {
    font-size: 24px;
}

.btn-whatsapp-custom:hover {
    background-color: #1ebe5d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}